:root {
    --admin-shto-shofer-page-container--border: 1px solid lightgray;
    --admin-shto-shofer-page-container--background: whitesmoke;
    --shto-shofer-page-form-container--background: white;
}

.shto-shofer-page-container {
    padding: 15px;
    border-top: var(--admin-shto-shofer-page-container--border);
    border-left: var(--admin-shto-shofer-page-container--border);
    background: var(--admin-shto-shofer-page-container--background);
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.shto-shofer-page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.shto-shofer-page-form-container {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background: var(--shto-shofer-page-form-container--background);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}