:root {
    --user-ballina-content-container--border: 1px solid lightgray;
    --user-ballina-content-container--background: whitesmoke;
    --user-ballina-grid-item--background: white;
    --user-ballina-grid-item--color: orangered;
    --user-ballina-grid-item--box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    --user-ballina-grid-item-row-h4--color: lightslategray;
    --user-ballina-grid-item-svg-wrapper--background: rgba(255, 69, 0, 0.75);
    --user-ballina-grid-item-svg-wrapper--color: white;
    --user-ballina-grid-item-row-button--backround: darkslategray;
    --user-ballina-grid-item-row-button--color: whitesmoke;
    --user-ballina-postings-list-container-header--border-bottom: 1px solid lightgray;
    --user-ballina-postings-list-parent-header--color: darkslategray;
    --user-ballona-postings-list-item--border: 1px solid lightgray;
    --user-ballina-postings-list-item--color: darkslategray;
    --posting-item-done--background: seagreen;
    --posting-item-done--box-shadow: 0px 0px 6px 6px rgba(46, 139, 87, 0.10);
    --posting-item-undone--background: #ed2d2d;
    --posting-item-undone--box-shadow: 0px 0px 3px 6px rgba(237, 45, 45, 0.10);
    --posting-item-progress--background: slateblue;
    --posting-item-progress--box-shadow: 0px 0px 3px 6px rgba(106, 90, 205, 0.10);
    --posting-item--color: whitesmoke;

}

.user-ballina-content-container {
    padding: 15px;
    border-top: var(--user-ballina-content-container--border);
    border-left: var(--user-ballina-content-container--border);
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    background: var(--user-ballina-content-container--background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.user-ballina-grids-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.user-ballina-grid-column-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-ballina-grid-item {
    background: var(--user-ballina-grid-item--background);
    color: var(--user-ballina-grid-item--color);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: var(--user-ballina-grid-item--box-shadow);
}

.user-ballina-grid-item-row {
    display: flex;
    align-items: center;
    gap: 7px;
}

.user-ballina-grid-item-row button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 10px;
    background: var(--user-ballina-grid-item-row-button--backround);
    color: var(--user-ballina-grid-item-row-button--color);
    border-radius: 50px;
    font-size: 13px;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.user-ballina-grid-item-row :is(h4) {
    color: var(--user-ballina-grid-item-row-h4--color);
}

.user-ballina-grid-item-svg-wrapper {
    width: 30px;
    height: 30px;
    background: var(--user-ballina-grid-item-svg-wrapper--background);
    color: var(--user-ballina-grid-item-svg-wrapper--color);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-ballina-grid-items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.user-ballina-postings-list-parent {
    display: flex;
    align-self: flex-start;
    content: '';
    width: 100%;
    border-radius: 15px;
    height: 471px;
    box-shadow: var(--user-ballina-grid-item--box-shadow);
    background: var(--user-ballina-grid-item--background);
    flex-direction: column;
    gap: 15px;
}

.user-ballina-postings-list-parent-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--user-ballina-postings-list-container-header--border-bottom);
    color: var(--user-ballina-postings-list-parent-header--color);
    padding: 15px;
}

.user-ballina-postings-list-parent-header-checkbox-container label {
    margin: 0px;
}

.user-ballina-postings-list-parent-header-checkbox-container span {
    padding: 0px 5px 0px 0px;
}

.user-ballina-postings-list-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 0px 15px 15px 15px;
}

.user-ballina-postings-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: var(--user-ballona-postings-list-item--border);
    color: var(--user-ballina-postings-list-item--color);
}

.user-ballina-postings-list-item-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.posting-item-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13px;
    padding: 3px 8px;
}

.posting-item-done {
    background: var(--posting-item-done--background);
    color: var(--posting-item--color);
    box-shadow: var(--posting-item-done--box-shadow);
}

.posting-item-undone {
    background: var(--posting-item-undone--background);
    color: var(--posting-item--color);
    box-shadow: var(--posting-item-undone--box-shadow);
}

.posting-item-progress {
    background: var(--posting-item-progress--background);
    color: var(--posting-item--color);
    box-shadow: var(--posting-item-progress--box-shadow);
}