@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./kycu.css";
@import "user/userlayout.css";
@import "user/userballina.css";
@import "user/userporosite.css";
@import "user/bejporosi.css";
@import "user/userporosia.css";
@import "admin/adminballina.css";
@import "admin/adminklientet.css";
@import "admin/adminporosite.css";
@import "admin/adminshoferet.css";
@import "admin/adminlayout.css";
@import "admin/adminporosia.css";
@import "admin/shtoshofer.css";
@import "admin/adminmbledhesit.css";
@import "admin/adminautomjetet.css";
@import "admin/shtoautomjet.css";

:root {
    --primary--font-family: "Lato", sans-serif;
    --primary--background-color: whitesmoke;
    --login-form-right-side--background-color: linear-gradient(
            120deg,
            #4ca9df,
            #292e91
    );
    --primary-blue--color: #1976d2;
    --secondary-blue--color: #292e91;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary--font-family);
}

body {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.backdrop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
